{% extends 'master.twig' %}

{% block content %}

<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('{{ paths.theme }}images/img01.jpg');"></div>
            <div class="carousel-caption">
                <h2>Заголовок 1</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('{{ paths.theme }}images/img02.jpg');"></div>
            <div class="carousel-caption">
                <h2>Заголовок 2</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('{{ paths.theme }}images/img03.jpg');"></div>
            <div class="carousel-caption">
                <h2>Заголовок 3</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Добро пожаловать на Amber Russia
            </h1>
        </div>
        {% setcontent pagesMain = "page/latest/3" %}
        {% for page in pagesMain %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> {{ page.title }}</h4>
                </div>
                <div class="panel-body">
                    {{ page.teaser }}
                    <p><a href="{{ page.link }}" class="btn btn-default">Подробнее</a></p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <!-- /.row -->

    {% setcontent portfolio = "portfolio/latest/3" %}

    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Работы</h2>
        </div>
        {% for portfolioitem in portfolio %}
        <div class="col-md-4 col-sm-6">
            <a href="{{ portfolioitem.link }}">
                <img class="img-responsive img-portfolio img-hover" src="{{ portfolioitem.image|thumbnail(400, 250) }}" alt="">
            </a>
        </div>
        {% endfor %}
    </div>
    <!-- /.row -->

    {#<hr>#}

    {#<!-- Call to Action Section -->#}
    {#<div class="well">#}
        {#<div class="row">#}
            {#<div class="col-md-8">#}
                {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>#}
            {#</div>#}
            {#<div class="col-md-4">#}
                {#<a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    <hr>

</div>
{% endblock content %}

